.attendence-container {
  background-color: #E3EDF9 !important;
  min-height: 100vh;
}

.morebtn {
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 24px;
  font-size: 14px;
}

.morebtn:hover {
  background-color: #0056b3;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
