
.logo-img {
  max-width: 130px;
  height: auto;
}

.nav-tabs .nav-item {
  color: #3770A4;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1030; /* higher than content */
  background: #fff; /* ensure background covers */
}

.nav-item.active {
  font-weight: bold;
  color: #085C9E; /* or any color for active */
  border-bottom: 2px solid #085C9E;
}
.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 18px;
  text-align: center;
}


.icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.note{
  background: #3770A4;
}
.red-dot {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.logout-link {
  color: #0d6efd;
  font-weight: 500;
  text-decoration: none;
}
